In [4]:
# if문은 조건문으로 판단하여 참(True) 거짓(False)로 판단하는 코드
# if 조건 :
#    조건이 참일 때 실행하는 문
# elif 조건 :
#    위 조건이 false일때 또 비교하는 조건문
# else:
#    위 조건이 모두 해당하지 않을때 실행하는 조건문

# 학점 계산용 코드
avg = int(input("평균을 입력하세요 >>>"))
if avg >= 90 :
    grade = "A" # 90점 이상이면 A

elif avg >= 80 : # 80점 이상이면 B
    grade = "B"

elif avg >= 70 : # 70점 이상이면 C
    grade = "C"

else :
    grade = "F" # 나머지

print("귀하의 등급은 : " + grade + "입니다.")

귀하의 등급은 : B입니다.

In [5]:
money = True
if money :
    print("택시를 타고 가라")
else:
    print("걸어가라")

택시를 타고 가라

In [7]:
money = int(input("얼마있음?"))
if money > 3000 :
    print("택시타")
else :
    print("돈 없으면 걷자")

돈없으면 걷자

In [9]:
marks = [90, 25, 67, 45, 80]
number = 0
for mark in marks :
    number = number +1
    if mark > 60 :
        print(f"{number}번 학생 합격입니다.")
    else:
        print(f"{number}번 학생 불합격입니다.")

1번 학생 합격입니다.
2번 학생 불합격입니다.
3번 학생 합격입니다.
4번 학생 불합격입니다.
5번 학생 합격입니다.

In [10]:
marks = [90, 25, 67, 45, 80]
number = 0
for mark in marks:
    number = number +1
    if mark < 60 :
        continue
    print(f"{number}번 학생 합격입니다.")

1번 학생 합격입니다.
3번 학생 합격입니다.
5번 학생 합격입니다.

In [11]:
a = range(10)
a

range(0, 10)

In [32]:
for i in range(2,5):
    print(f"\n{i}단--------")
    for j in range(1,5):
        print(f"{i}x{j} = {i*j}",end = " ")

2단--------
2x1 = 2 2x2 = 4 2x3 = 6 2x4 = 8
3단--------
3x1 = 3 3x2 = 6 3x3 = 9 3x4 = 12
4단--------
4x1 = 4 4x2 = 8 4x3 = 12 4x4 = 16

In [34]:
a = [1,2,3,4]
result = [num * 3 for num in a]
print(result)

[3, 6, 9, 12]

In [36]:
a = [1,2,3,4]
result = [num * 3 for num in a if num % 2 == 0 ]
print(result)

[6, 12]

In [38]:
result = [x*y for x in range(2,10)
              for y in range(1,10)]
print(result)
type(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

list

In [41]:
fruits = ['apple', 'banana', 'orange']
for i, fruit in enumerate(fruits,2):
    print(f"{i} : {fruit}")

2 : apple
3 : banana
4 : orange

In [42]:
name = ['홍길동', '김철수', '이영희']
scores = [85,92,78]
for name, scores in zip(name, scores):
    print(f"{name} : {scores}")

홍길동 : 85
김철수 : 92
이영희 : 78

In [43]:
a = [1,2,3,4]
a[2] = 4
a

[1, 2, 4, 4]